@import url('http://fonts.cdnfonts.com/css/elpanas');
@import url('http://fonts.cdnfonts.com/css/sf-compact-display');
@font-face {
    font-family: 'BYekan';
    src: url('../fonts/BYekan-webfont.eot') format('eot'), url('../fonts/BYekan-webfont.woff') format('woff'), url('../fonts/BYekan-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --background: #f3f4ed11;
    --black: #424642;
    --coffe: #C06014;
    --pink: #e5a1f8;
    --white: #F8F5F1;
    --nav: #35353f;
    --nav2: #536162;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'BYekan' !important;
    font-size: 14px;
    word-spacing: -1px;
}

.box-shadow {
    box-shadow: 10px 5px 5px var(--nav2);
}

.edo {
    font-family: 'Elpanas', sans-serif !important;
    color: var(--coffe) !important;
}

.compat {
    font-family: 'SF Compact Display', sans-serif;
}

.title::before {
    content: "-";
    color: var(--coffe);
}

.contactUs {
    /* The image used */
    background-image: url("../../image/michal-parzuchowski-ItaV89TNkks-unsplash.jpg");
    /* Set a specific height */
    min-height: 500px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.suggest {
    /* The image used */
    background-image: url("../../image/clem-onojeghuo-zlABb6Gke24-unsplash.jpg");
    /* Set a specific height */
    min-height: 300px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media screen and (min-width: 600px) {
    .suggest p {
        font-size: smaller;
    }
}

.form-contactUs {
    background-color: #FFFF;
    border-radius: 10px;
    padding: 3rem;
}

.form-contactUs input, .form-contactUs textarea {
    background-color: #FFFF !important;
}

/* Footer */

.footer-dark {
    padding: 30px 0 0 0;
    color: #f0f9ff;
    background-color: var(--black);
}

.footer-dark h3 {
    margin-top: 0;
    margin-bottom: 12px;
    font-weight: bold;
    font-size: 16px;
    color: #eeee !important;
}

.footer-dark ul {
    padding: 0;
    list-style: none;
    line-height: 1.6;
    font-size: 14px;
    margin-bottom: 0;
}

.footer-dark ul a {
    color: inherit;
    text-decoration: none;
    opacity: 0.6;
    color: #eeee !important;
    font-family: sans-serif;
}

.footer-dark ul a:hover {
    opacity: 1;
}

@media (max-width:767px) {
    .footer-dark .item:not(.social) {
        text-align: center;
        padding-bottom: 20px;
    }
}

.footer-dark .item.text {
    margin-bottom: 36px;
}

@media (max-width:767px) {
    .footer-dark .item.text {
        margin-bottom: 0;
    }
}

.footer-dark .item.text p {
    opacity: 0.6;
    margin-bottom: 0;
    color: #eeee !important;
}

.breadcrumb-pages {
    background-image: url("../../image/michal-parzuchowski-ItaV89TNkks-unsplash.jpg");
    min-height: 300px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.breadcrumb-pages .title-breadcrumb {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.breadcrumb-pages .title-breadcrumb a, .breadcrumb-pages .title-breadcrumb p {
    color: var(--white) !important;
}

.aboutus-img {
    width: 500px !important;
    height: 500px !important;
}